.windowControls {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    user-select: none;
}

.spacer {
    flex-grow: 1;
    align-self: stretch;
}

.slot {
    flex-grow: 0;
    flex-shrink: 1;
}