.controls {
    display: flex;
    width: 86px;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;

    & > * {
        display: flex;
        gap: 8px;

        &:hover {
            button {
                &.close {
                    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 0.5L5.5 5.5M5.5 0.5L0.5 5.5' stroke='black' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                }

                &.minimize {
                    background-image: url("data:image/svg+xml,%3Csvg width='8' height='2' viewBox='0 0 8 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 1H7.25' stroke='black' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                }

                &.zoom {
                    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.49999 -1.35601e-05L-6.78003e-06 4.49999V-6.78003e-06L4.49999 -1.35601e-05Z' fill='black' fill-opacity='0.5'/%3E%3Cpath d='M1.49999 5.99999L5.99999 1.49999L6 6L1.49999 5.99999Z' fill='black' fill-opacity='0.5'/%3E%3C/svg%3E%0A")
                }
            }
        }
    }

    button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.2);

        &.close {
            background-color: #FF5F57;

            &:active {
                background-color: #D93A31;
            }
        }

        &.minimize {
            background-color: #FEBC2E;

            &:active {
                background-color: #E0A90E;
            }
        }

        &.zoom {
            background-color: #28C840;

            &:active {
                background-color: #1E9E2D;
            }
        }
    }
}
