.spectrogramContainer {
	cursor: text;
	transform: translateZ(0);
	will-change: transform;
}
.spectrogramContainer ::part(progress) {
	background-color: var(--accent-a4);
}
.spectrogramContainer ::part(cursor) {
	box-shadow:
		0 0 0 1px var(--accent-a11),
		0 0 0 3px #0002;
}
.spectrogramContainer ::part(hover-label) {
	padding: 0 0.5rem;
	line-height: 2.5rem;
	transition: none;
}

.loadingTip {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}
