.lineSegment {
	height: 100%;
	background-color: var(--accent-a3);
	border: 1px solid var(--accent-8);
	border-radius: var(--radius-1);
	position: absolute;
	box-sizing: border-box;
	pointer-events: auto;
	transition:
		filter 0.05s ease-in-out,
		background-color 0.05s ease-in-out,
		border-color 0.05s ease-in-out;
}

.desaturated {
	background-color: var(--accent-a0);
}

.lineMode:hover {
	border-color: var(--accent-13);
}
