.waveformContainer {
	cursor: text;
	position: relative;
	z-index: 1;
}
.waveformContainer ::part(progress) {
	background-color: var(--accent-a4);
}
.waveformContainer ::part(cursor) {
	box-shadow: 0 0 0 1px var(--accent-a11);
}
.waveformContainer ::part(hover) {
	display: flex;
	align-items: center;
}
.waveformContainer ::part(hover-label) {
	padding: 0 0.5rem;
	transition: none;
}

.spectrogramRegion {
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}

.regionBody {
	width: 100%;
	height: 100%;
	background-color: var(--accent-a5);
	cursor: grab;
	border-left: 1px solid var(--accent-a9);
	border-right: 1px solid var(--accent-a9);
	pointer-events: auto;
}

.regionBody:active {
	cursor: grabbing;
}

.regionHandle {
	width: 8px;
	height: 100%;
	cursor: ew-resize;
	position: absolute;
	top: 0;
	z-index: 3;
	pointer-events: auto;
}

.regionHandleLeft {
	left: 0;
	transform: translateX(-50%);
}

.regionHandleRight {
	right: 0;
	transform: translateX(50%);
}

.selectedLyricRegion {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: var(--accent-a8);
	opacity: 0.3;
	pointer-events: none;
	z-index: 1;
}

.hoverGuide {
	position: absolute;
	top: 0;
	height: 100%;
	pointer-events: none;
	z-index: 10;

	border-left: 1px solid var(--accent-a11, #00ffa21e);

	opacity: 0;

	transition: opacity 0.07s ease-out;

	will-change: opacity, left;
}

.hoverGuideVisible {
	opacity: 1;
}

.timeLabel {
	position: absolute;
	top: 8px;

	color: var(--accent-a11, #00ffa21e);
	font-size: var(--font-size-2, 14px);

	padding: 2px 6px;
	border-radius: 4px;
	white-space: nowrap;
	pointer-events: none;
}

.labelLeft {
	left: 4px;
	right: auto;
}

.labelRight {
	right: 4px;
	left: auto;
}
