.manualSplitter {
	position: relative;
	display: inline-block;
	width: 25px;
	margin-left: -7px;
	margin-right: -7px;
	z-index: 1;
	align-self: stretch;

	background: none;
	border: none;
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: text;
	appearance: none;
}

.manualSplitter:hover::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 10%;
	bottom: 10%;
	width: 2px;
	background-color: var(--accent-6);
	transform: translateX(-50%);
	border-radius: 1px;
}

.manualSplitter[data-split="true"]::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 10%;
	bottom: 10%;
	width: 2px;
	background-color: var(--accent-10);
	transform: translateX(-50%);
	border-radius: 1px;
}

.manualSplitter:hover::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	margin-top: -4px;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid var(--accent-6);
}

.manualSplitter[data-split="true"]::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	margin-top: -4px;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid var(--accent-10);
}

.grapheme {
	display: inline-block;
	padding: 0 1px;
	font-size: var(--font-size-5);
	line-height: var(--line-height-5);
	font-family: var(--code-font-family);
	user-select: none;
}
