:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: transparent;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rt-BaseButton:where(.rt-variant-soft) {
	background-color: var(--accent-a3);

	&:hover {
		background-color: var(--accent-a4);
	}
}

.rt-BaseButton:where(.rt-variant-soft):where(:active:not([data-state="open"])) {
	background-color: var(--accent-a5);
}
