@import "./appkit.sass"

:root
    box-sizing: border-box
    font-synthesis: none
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-text-size-adjust: 100%
    @include apple-font()

body
    @include apple-font()
    background: transparent
    font-size: 13px
    user-select: none
    height: 100vh
    width: 100vw
    overflow: hidden
    margin: 0
    @media (prefers-color-scheme: dark)
        background: #2c2c2c
        color: white
        fill: white

.select-songs-container
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: stretch
.user-playlists-container
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: stretch
.select-songs-option
    > *
        display: flex
        justify-content: space-between
.song-item
    display: flex
    align-items: center
    justify-content: space-between
    padding: 5px
    cursor: pointer
    &:hover
        background: #0001
    > img
        border-radius: 5px
    .name
        flex: 1
        padding: 0 8px
    .tag
        padding: 0 16px
    &.disabled
        opacity: 0.5
        cursor: unset
.songs-list,
.user-playlists-list
    margin: 5vh
    position: relative
    min-height: 0
    flex: 1
    > *
        height: 100%
        overflow: hidden auto
        > *
            .user-playlist-item
                cursor: pointer
                display: flex
                align-items: center
                height: 32px
                padding: 8px 16px
                border-radius: 4px
                background: #00000008
                &:hover
                    background: #00000022
                &:nth-child(2n)
                    background: #00000011
                    &:hover
                        background: #00000022

.user-media-token-container
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
