name: 构建 Tauri 桌面版本
on:
  - push
  - workflow_dispatch

jobs:
  build-tauri:
    name: 构建 Tauri 桌面版本
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-20.04, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: 克隆仓库源代码
        uses: actions/checkout@v3
      - name: 配置 NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: 安装 Rust 工具链
        uses: dtolnay/rust-toolchain@stable
      - name: 安装 Tauri 所需系统依赖（仅 Linux）
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
      - name: 安装前端依赖
        run: yarn install # change this to npm or pnpm depending on which one you use
      - name: 构建 WASM 部分
        run: wasm-pack build --target bundler --release ./src-wasm/
      - name: 构建 Tauri 程序
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 上传产物到 Action Artifact
        uses: actions/upload-artifact@v3
        with:
          name: AMLL TTML Tool ${{runner.os}}-${{runner.arch}}
          path: |
            src-tauri/target/release/bundle/deb/*.deb
            src-tauri/target/release/bundle/appimage/*.AppImage
            src-tauri/target/release/bundle/appimage/*.AppImage.tar.gz
            src-tauri/target/release/bundle/msis/*.exe
            src-tauri/target/release/bundle/msi/*.msi
            src-tauri/target/release/bundle/dmg/*.dmg
            src-tauri/target/release/bundle/macos/*.app
            src-tauri/target/release/bundle/macos/*.app.tar.gz
