name: 构建网页版本并部署到 Github Pages
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-web:
    name: 构建网页版本并部署到 Github Pages
    runs-on: ubuntu-latest
    steps:
      - name: 克隆仓库源代码
        uses: actions/checkout@v4.2.0
          
      - name: 安装 PNPM
        uses: pnpm/action-setup@v4.0.0
        with:
          version: latest
          
      - name: 安装 Node.js
        uses: actions/setup-node@v4.0.4
        with:
          node-version: lts/*
          cache: pnpm
          
      - name: 安装前端依赖
        run: pnpm i
        
      - name: 构建网页版本
        run: pnpm build
        
      - name: 部署到 Github Pages
        uses: crazy-max/ghaction-github-pages@v4.0.0
        with:
          target_branch: gh-pages
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
